<article class="grid gap-8">
    <div class="w-full bg-[#BDBDBD] rounded-lg flex items-center h-60 overflow-hidden">
        <figure>
            <img src="images/article.jpg" alt="Lorem impsum">
        </figure>
    </div>
    <div class="text-sm font-semibold flex items-center gap-2"> 
        <img src="images/icons/Calendar.svg" alt="icon calendar">
        {{ article.description }}
    </div>
    <h3 class="font-bold text-[23px] md:text-3xl text-black">
        {{ article.title }}
    </h3>
    <p class="line-clamp-6">
        {{ article.content }}
    </p>
</article>