<main class="text-gray-text">
  <h1 class="sr-only">Challenge maquetado</h1>

  <app-featured-article></app-featured-article>
  <!-- Content -->

  <div class="bg-white px-6 py-8 2xl:py-24 justify-around flex">
    <div class="grid gap-12 justify-around 2xl:w-7xl">
      <div class="w-full">
        <h2 class="text-black font-bold text-3xl">Lorem ipsum dolor sit</h2>
        <div>
          <label for="">Lorem ipsum dolor sit amet</label>
          <input type="text">
        </div>
      </div>

      <div class="articles grid gap-12 w-full md:grid-cols-2 2xl:w-7xl">
        @for(item of articles(); track $index){
          <app-article></app-article>
        }
        
      </div>

      <div class="grid gap-6 2xl:w-7xl">
        <h2 class="font-bold text-3xl md:text-5xl text-black">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
      </div>


      <div class="o-carousel w-[85vw] md:w-[90vw] 2xl:w-7xl m-auto">
        <swiper-container 
          slides-per-view="1.5" 
          navigation="false" 
          pagination="false"
          space-between="20"
          [breakpoints]="{
            '768': { slidesPerView: 1.8 },
            '1524': { slidesPerView: 4 }
          }"
          class="o-carousel__container">
          
          @for( item of swiperItems(); track $index ){
            <swiper-slide class="o-carousel__slide">
              <div class="h-120.5 bg-gray-500 flex rounded-lg overflow-hidden bg-cover bg-center" [style.background-image]="'url(images/swipe2.jpg)'"> 
                
                <div class="rounded-b-lg bg-linear-to-b from-transparent to-black absolute bottom-0 h-44 w-full p-4 ">
                  <h3 class="text-3xl text-white font-bold mb-2">Lorem impsum</h3>
                  <p class="text-white mb-8">Lorem ipsum dolor, sit amet consectetur</p>
                  <div class="text-white">
                    Lorem impsum 
                  </div>
                </div>
              </div>
            </swiper-slide>
          }
          
        </swiper-container>
      </div>
    </div>
    
  </div>
</main>
