<main class="text-gray-text">
  <h1 class="sr-only">Challenge maquetado</h1>

  <app-featured-article></app-featured-article>
  <!-- Content -->

  <div class="bg-white px-6 py-8 2xl:py-24 justify-around flex">
    <div class="grid gap-12 justify-around 2xl:w-7xl">
      <div class="w-full ">
        <h2 class="text-black font-bold text-3xl mb-6 md:text-5xl">Lorem ipsum dolor sit</h2>
        <div class="grid gap-2.5 md:grid-cols-2 md:justify-between md:items-center">
          <p class="text-black text-[18px]">Lorem ipsum dolor sit amet</p>

          <div class="relative flex flex-col h-10 w-full md:w-75 bg-[#F4F4F5] rounded-lg md:place-self-end items-end justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 absolute left-3 top-3 stroke-[#1C274C]">
              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
            </svg>
            <input id="search" type="text" name="search" class="outline-0 border-0 focus:outline-none w-[88%]">
          </div>
          
        </div>
      </div>

      <div class="articles grid gap-12 w-full md:grid-cols-2 2xl:w-7xl">
        @for(item of articles(); track $index){
          <app-article></app-article>
        }
        
      </div>

      <div class="grid gap-6 2xl:w-7xl">
        <h2 class="font-bold text-3xl md:text-5xl text-black">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
      </div>


      <div class="o-carousel w-[85vw] md:w-[90vw] 2xl:w-7xl m-auto">
        <swiper-container 
          slides-per-view="1.5" 
          navigation="false" 
          pagination="false"
          space-between="20"
          [breakpoints]="{
            '768': { slidesPerView: 1.8 },
            '1524': { slidesPerView: 4 }
          }"
          class="o-carousel__container">
          
          @for( item of swiperItems(); track $index ){
            <swiper-slide class="o-carousel__slide">
              <app-swiper-item></app-swiper-item>
            </swiper-slide>
          }
          
        </swiper-container>
      </div>
    </div>
    
  </div>
</main>
